:root {
    --blue: #87CEEB;
    --green: #90EE90;
    --yellow: #F4D738;
    --red: #FF7A5C;
    --pink: #FFB2EF;
    --purple: #A388EE;

    --light-blue: #DAF5F0;
    --light-green: #DDF5DA;
    --light-yellow: #FDFD96;
    --light-orange: #F8D6B3;
    --light-pink: #FCDFFF;
    --light-purple: #E3DFF2;

    --background-color: var(--light-yellow);
    --accent-color: var(--yellow);
}

body {
    font-family: 'Public Sans';
    line-height: 1.4;
    padding: 0;
    margin: 0;
    color: black;
    background: var(--background-color);
}


main {
    max-width: 60rem;
    margin: 20px auto;
    padding: 0 10px;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kanit';
}

/* button */
button,
input[type=submit],
input[type=button]:hover {
    font-family: 'Public Sans';
    font-weight: bold;
    font-size: large;

    padding: 20px 40px;
    margin: 10px 0px;
    background-color: var(--accent-color);

    border: 0.25rem solid black;
    box-shadow: 0.25rem 0.25rem black;

    transition: box-shadow linear .1s;

    outline: none;
}


button:hover,
input[type=submit]:hover input[type=button]:hover,
button:focus,
input[type=submit]:focus {
    box-shadow: 0px 0px black;
}

button:active,
input[type=submit]:active,
input[type=button]:active {
    filter: brightness(90%);
}

/* anchor */
a {
    color: black;
    font-weight: bolder;
}

a:focus {
    color: var(--accent-color);
    outline: none;
}

/* general  */
hr {
    background-color: black;
    border: 0px;
    height: 0.25rem;
}

img {
    border: 0.25rem solid black;
    box-shadow: 0.25rem 0.25rem black;
}

ul {
    list-style-type: square
}

/* forms */
form {
    display: inline-block;
    width: 100%;
}

fieldset {
    border: 0.25rem solid black;
    box-shadow: 0.25rem 0.25rem black;
}

fieldset legend {
    font-size: large;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: large;
}

input {
    cursor: pointer;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
select,
textarea {
    height: 3rem;
    margin: 10px 0px;
    padding: 1px 2px;
    width: 95%;
    box-sizing: inherit;

    border: 0.25rem solid black;
    box-shadow: 0.25rem 0.25rem black;
    outline: none;

    font-family: 'Public Sans';
    font-size: large;

    transition: box-shadow linear .1s;
}

input:not([type]):focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=checkbox]:focus:before,
select:focus,
textarea:focus {
    box-shadow: 0px 0px var(--accent-color);
    border-color: var(--accent-color);
}

textarea {
    resize: vertical
}

input[type=checkbox] {
    vertical-align: middle;
    outline: none;
    content: none;
    width: 2rem;
    height: 2rem;

    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
}

input[type=checkbox]:before {
    content: "x";
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: transparent !important;
    background: white;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 0.25rem solid black;
    box-shadow: 0.25rem 0.25rem black;

    transition: box-shadow linear .1s;
}

input[type=checkbox]:checked:before {
    color: black !important;
}

input[type=color] {
    background-color: black;
    transition: background-color linear .1s;
    border: none;
    outline: none;
}

input[type=color]:focus {
    background-color: var(--accent-color);
}

/* tables */


table {
    border-collapse: collapse;
    box-shadow: 0.25rem 0.25rem black;
}

th {
    font-weight: bold;
}

table,
th,
td {
    border: 0.25rem solid black;
}

th,
td {
    padding: 0.5rem 1rem;
}